NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyDAbKVdfzqyQ21SoR7Z31EpFPmTwle-KS8
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=zekat-53dae.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=zekat-53dae
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=zekat-53dae.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=179007786155
NEXT_PUBLIC_FIREBASE_APP_ID=1:179007786155:web:9e3473b875e7d7b7a23bee
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-P16S18T0Y6
NEXT_PUBLIC_ADMIN_EMAIL=meoncu@gmail.com
NEXT_PUBLIC_APP_URL=http://localhost:4013
